apiVersion: v1
kind: Secret
metadata:
  name: product-service-secrets
  labels:
    app: product-service
type: Opaque
stringData:
  secret-key: "your-secret-key-here"
  mongodb-user: "mongodb-user"
  mongodb-password: "mongodb-password"
  jwt-secret-key: "your-jwt-secret-key-here"
